
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div data-ng-controller="userCtl as usrctl">
    <div class="topspc">
        <span>User Name:  {{usrctl.user.name}}</span>
        <input type="text"  data-ng-show="usrctl.editprofilechecked" data-ng-model="usrctl.user.name"/>
    </div>

    <div class="topspc">
        <span>Map View: {{usrctl.user.mapview}}</span>
        <input type="text" data-ng-show="usrctl.editprofilechecked" data-ng-model="usrctl.user.mapview"/>

    </div>
    <div class="topspc">
        <span data-ng-model="usrctl.user.network">Network: {{usrctl.user.network}}</span>
        <input type="text" data-ng-show="usrctl.editprofilechecked" data-ng-model="usrctl.user.network"/>
    </div>

    <div data-ng-show="usrctl.editprofilechecked">
        <div><span>Create Network: </span><input type="text" data-ng-model="usrctl.newnet"/></div></div>
    <div style="margin-left:90px;">
        <span>Edit Profile: </span>
        <input data-ng-model="usrctl.editprofilechecked" data-ng-false-value="0" type="checkbox"/>
    </div>
</div>
